.margin-left-5 {
  margin-left: 5px;
}
.margin-left-10 {
  margin-left: 10px;
}
.padding {
  padding: 5px;
}
.margin-left-60 {
  margin-left: 60px;
}
button {
  color: #0063b2;
  background-color: #9cc3d5;
}
